- expanded = local_assigns.fetch(:expanded)

%h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
  = _('Variables')

= render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
  = expanded ? _('Collapse') : _('Expand')

%p
  = _('Variables store information, like passwords and secret keys, that you can use in job scripts. All projects on the instance can use these variables.')
  = link_to s_('Learn more.'), help_page_path('ci/variables/index', anchor: 'add-a-cicd-variable-to-an-instance'), target: '_blank', rel: 'noopener noreferrer'
%p
  = _('Variables can be:')
%ul
  %li
    = html_escape(_('%{code_open}Protected:%{code_close} Only exposed to protected branches or protected tags.')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
    = link_to _('Learn more.'), help_page_path('ci/variables/index', anchor: 'protected-cicd-variables'), target: '_blank', rel: 'noopener noreferrer'
  %li
    = html_escape(_('%{code_open}Masked:%{code_close} Hidden in job logs. Must match masking requirements.')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
    = link_to _('Learn more.'), help_page_path('ci/variables/index', anchor: 'mask-a-cicd-variable'), target: '_blank', rel: 'noopener noreferrer'
